@font-face
{
  font-family: 'myFancyFont';
  src: url('fonts/SCRIPTIN.ttf');
}

div.scroll {
    background-color: #FFFFFF;
    height:225px;
    width: 100%;
    overflow-x: scroll;
}

blockquote {
    border-left:none;
    font-size: 1em;
    display: block;
    margin-top: .25em;
    margin-left: 20px;
}

body .main-container {
max-width: 800px;
background-color: #edf2f7;
}


.newspaper {
   xborder:1px black solid;
   padding: 15px;
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
   -moz-column-count: 3; /* Firefox */
   column-count: 3;
   -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
   -moz-column-gap: 20px; /* Firefox */
   column-gap: 15px;
   -webkit-column-rule: .5px solid lightgrey; /* Chrome, Safari, Opera */
   -moz-column-rule: .5px solid lightgrey; /* Firefox */
   column-rule: .5px solid lightgrey;
   column-width: 150px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff;
    background-color: #00b8d4;
    border-color: #337ab7;
}
