@font-face
{
  font-family: 'myFancyFont';
  src: url('fonts/SCRIPTIN.ttf');
}

div.scroll {
    background-color: #FFFFFF;
    height:225px;
    width: 100%;
    overflow-x: scroll;
}

blockquote {
    border-left:none;
    font-size: 1em;
    display: block;
    margin-top: .25em;
    margin-left: 20px;
}

/*This changes the attributes of the main body. Changing background-color to edf2f7 will make the background color light gray.*/

body .main-container {
  max-width: 624px;
  /*margin-left: 100px;*/
  background-color: #FFFFFF; //edf2f7 is lightgray
  margin: auto;
  /*font-family: Helvetica;*/
  /*font-size: 12pt;*/
}

/*
h1,h2,h3,h4,h5,h6{
  font-family: Helvetica;
  font-size: 24pt;
}*/

  
}

/*This makes the text split into 3 columns. Play with column-count.*/

.newspaper {
   xborder:1px black solid;
   padding: 15px;
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
   -moz-column-count: 3; /* Firefox */
   column-count: 3;
   -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
   -moz-column-gap: 20px; /* Firefox */
   column-gap: 15px;
   -webkit-column-rule: 1px solid lightgrey; /* Chrome, Safari, Opera */
   -moz-column-rule: 1px solid lightgrey; /* Firefox */
   column-rule: 1px solid lightgrey;
   column-width: 150px;
}

/*This changes the background-color of the TOC*/
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff;
    background-color: #00b8d4;
    border-color: #337ab7;
}
